In [6]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/loan-default-dataset/Loan_Default.csv

In [7]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report, confusion_matrix, roc_auc_score
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

In [8]:
df = pd.read_csv("/kaggle/input/loan-default-dataset/Loan_Default.csv")
df.head()

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,...,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
0,24890,2019,cf,Sex Not Available,nopre,type1,p1,l1,nopc,nob/c,...,EXP,758,CIB,25-34,to_inst,98.728814,south,direct,1,45.0
1,24891,2019,cf,Male,nopre,type2,p1,l1,nopc,b/c,...,EQUI,552,EXP,55-64,to_inst,NaN,North,direct,1,NaN
2,24892,2019,cf,Male,pre,type1,p1,l1,nopc,nob/c,...,EXP,834,CIB,35-44,to_inst,80.019685,south,direct,0,46.0
3,24893,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,EXP,587,CIB,45-54,not_inst,69.376900,North,direct,0,42.0
4,24894,2019,cf,Joint,pre,type1,p1,l1,nopc,nob/c,...,CRIF,602,EXP,25-34,not_inst,91.886544,North,direct,0,39.0

In [9]:
df = df.drop_duplicates()

In [10]:
nunique = df.nunique()
drop_cols = nunique[nunique == 1].index
df = df.drop(columns=drop_cols)

df.info()
df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148670 entries, 0 to 148669
Data columns (total 33 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   ID                         148670 non-null  int64
 1   loan_limit                 145326 non-null  object
 2   Gender                     148670 non-null  object
 3   approv_in_adv              147762 non-null  object
 4   loan_type                  148670 non-null  object
 5   loan_purpose               148536 non-null  object
 6   Credit_Worthiness          148670 non-null  object
 7   open_credit                148670 non-null  object
 8   business_or_commercial     148670 non-null  object
 9   loan_amount                148670 non-null  int64
 10  rate_of_interest           112231 non-null  float64
 11  Interest_rate_spread       112031 non-null  float64
 12  Upfront_charges            109028 non-null  float64
 13  term                       148629 non-null  float64
 14  Neg_ammortization          148549 non-null  object
 15  interest_only              148670 non-null  object
 16  lump_sum_payment           148670 non-null  object
 17  property_value             133572 non-null  float64
 18  construction_type          148670 non-null  object
 19  occupancy_type             148670 non-null  object
 20  Secured_by                 148670 non-null  object
 21  total_units                148670 non-null  object
 22  income                     139520 non-null  float64
 23  credit_type                148670 non-null  object
 24  Credit_Score               148670 non-null  int64
 25  co-applicant_credit_type   148670 non-null  object
 26  age                        148470 non-null  object
 27  submission_of_application  148470 non-null  object
 28  LTV                        133572 non-null  float64
 29  Region                     148670 non-null  object
 30  Security_Type              148670 non-null  object
 31  Status                     148670 non-null  int64
 32  dtir1                      124549 non-null  float64
dtypes: float64(8), int64(4), object(21)
memory usage: 37.4+ MB

ID                               0
loan_limit                    3344
Gender                           0
approv_in_adv                  908
loan_type                        0
loan_purpose                   134
Credit_Worthiness                0
open_credit                      0
business_or_commercial           0
loan_amount                      0
rate_of_interest             36439
Interest_rate_spread         36639
Upfront_charges              39642
term                            41
Neg_ammortization              121
interest_only                    0
lump_sum_payment                 0
property_value               15098
construction_type                0
occupancy_type                   0
Secured_by                       0
total_units                      0
income                        9150
credit_type                      0
Credit_Score                     0
co-applicant_credit_type         0
age                            200
submission_of_application      200
LTV                          15098
Region                           0
Security_Type                    0
Status                           0
dtir1                        24121
dtype: int64

In [13]:
target = "Status"
x = df.drop(columns=[target])
y = df[target]

In [14]:
cat = x.select_dtypes(include=['object']).columns
num = x.select_dtypes(include=['float64', 'int64']).columns

In [15]:
from sklearn.preprocessing import OneHotEncoder

num_transformer = Pipeline(steps = [
    ('imputer', SimpleImputer(strategy = 'mean')),
    ('scaler', StandardScaler())
])

cat_transformer = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy = 'most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown ='ignore'))
])

preprocessor = ColumnTransformer(
    transformers =[
        ('num', num_transformer, num),
        ('cat', cat_transformer, cat)
    ]
)

In [17]:
x_train, x_test, y_train, y_test = train_test_split(
    x, y, test_size = 0.2, random_state = 42, stratify = y
)

In [20]:
lr = Pipeline(steps=[
    ("preprocessor", preprocessor),
    ("model", LogisticRegression(max_iter=500))
])

lr.fit(x_train, y_train)
pred_lr = lr.predict(x_test)
proba_lr = lr.predict_proba(x_test)[:, 1]

print("ROC-AUC:", roc_auc_score(y_test, proba_lr))
print(classification_report(y_test, pred_lr))

ROC-AUC: 0.8473776920814645
              precision    recall  f1-score   support

           0       0.86      0.99      0.92     22406
           1       0.95      0.51      0.66      7328

    accuracy                           0.87     29734
   macro avg       0.90      0.75      0.79     29734
weighted avg       0.88      0.87      0.86     29734

In [22]:
rf = Pipeline(steps=[
    ("preprocessor", preprocessor),
    ("model", RandomForestClassifier(n_estimators=300, random_state=42))
])

rf.fit(x_train, y_train)
pred_rf = rf.predict(x_test)
proba_rf = rf.predict_proba(x_test)[:, 1]

print("ROC-AUC:", roc_auc_score(y_test, proba_rf))
print(classification_report(y_test, pred_rf))

ROC-AUC: 1.0
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     22406
           1       1.00      1.00      1.00      7328

    accuracy                           1.00     29734
   macro avg       1.00      1.00      1.00     29734
weighted avg       1.00      1.00      1.00     29734

In [23]:
xgb = Pipeline(steps=[
    ("preprocessor", preprocessor),
    ("model", XGBClassifier(
        n_estimators=400,
        learning_rate=0.05,
        max_depth=5,
        subsample=0.8,
        colsample_bytree=0.8,
        eval_metric="logloss"
    ))
])

xgb.fit(x_train, y_train)
pred_xgb = xgb.predict(x_test)
proba_xgb = xgb.predict_proba(x_test)[:, 1]

print("ROC-AUC:", roc_auc_score(y_test, proba_xgb))
print(classification_report(y_test, pred_xgb))

ROC-AUC: 1.0
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     22406
           1       1.00      1.00      1.00      7328

    accuracy                           1.00     29734
   macro avg       1.00      1.00      1.00     29734
weighted avg       1.00      1.00      1.00     29734

In [24]:
results = pd.DataFrame({
    "Model": ["Logistic Regression", "Random Forest", "XGBoost"],
    "ROC_AUC": [
        roc_auc_score(y_test, proba_lr),
        roc_auc_score(y_test, proba_rf),
        roc_auc_score(y_test, proba_xgb)
    ]
})

results

                 Model   ROC_AUC
0  Logistic Regression  0.847378
1        Random Forest  1.000000
2              XGBoost  1.000000

In [26]:
model = xgb.named_steps["model"]
importances = model.feature_importances_

oh_cols = xgb.named_steps["preprocessor"].transformers_[1][1] \
            .named_steps["onehot"].get_feature_names_out(cat)

all_feature_names = np.concatenate([num, oh_cols])

feat_imp = pd.DataFrame({
    "feature": all_feature_names,
    "importance": importances
}).sort_values(by="importance", ascending=False)

feat_imp.head(20)

                       feature  importance
2             rate_of_interest    0.683505
51            credit_type_EQUI    0.153691
4              Upfront_charges    0.126291
3         Interest_rate_spread    0.021799
33   Neg_ammortization_not_neg    0.003013
28            open_credit_nopc    0.002105
20             loan_type_type2    0.001731
16    Gender_Sex Not Available    0.001431
32   Neg_ammortization_neg_amm    0.001275
29             open_credit_opc    0.000944
5                         term    0.000673
12              loan_limit_ncf    0.000638
36       lump_sum_payment_lpsm    0.000616
57                   age_45-54    0.000593
7                       income    0.000353
11               loan_limit_cf    0.000329
30  business_or_commercial_b/c    0.000291
19             loan_type_type1    0.000166
25             loan_purpose_p4    0.000117
26        Credit_Worthiness_l1    0.000105